# Prevent access to non-indexed directories
Options -Indexes

RewriteEngine On
# Handle requesting a specific character e.g. "api/characters/3"
RewriteRule    ^api/characters/([\S]+)/?$    api/characters/read_one.php?id=$1    [NC,END]
# Handle requesting all characters e.g. "api/characters/"
RewriteRule    ^api/characters/    api/characters/read_all.php    [NC,END]
