body { 
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem; 
}
#logout, #manage_characters, #create_character, #create_guild, #manage_guilds { 
    display: none; 
}

td {
    padding: 0.5em;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}